.f {
    background-color: #1a1a1a;
}
.heading {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    font-family: "Russo One", sans-serif;
}
.heading{
    opacity: 0;
    animation: drop 0.4s linear forwards;
    color: #00ffff;
}
.text{
    opacity: 0;
    animation: drop 0.4s linear forwards 0.2s;
    color: #99ffff;
}
.start {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.4s;
    color: #ccffff;
}
@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

