.containerProfile .fa-user{
    padding: 10px 15px;
    font-size: 80px;
    color: white !important;
    margin-left: 200px;
    margin-top: 60px;
    border: 1px solid whitesmoke;
}
.updateSpan{
    margin-left: 100px;
}
.containerProfile span{
    display: inline-block;
    color: whitesmoke;
    padding: 10px 25px;
    margin-top: 30px;
    margin-right: 90px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.containerProfile span:hover{
    background-color: rgba(41, 184, 150, 0.913);
    border: none;

}
.containerProfile h4{
    color:whitesmoke;
    margin-left: 220px;

}
.containerProfile{
    background-image: url("../assets/various-vegetables-black-table-with-space-message.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.containerProfile1 .userDetails{
    color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-top: 50px !important;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
    }
.containerProfile1{
    width: 400px;
    margin-left: 40px;
 
}
.notification4{
    background-color: whitesmoke;
    position: absolute;
    width: 350px;
    padding: 30px;
    height: 400px;
    right: 0px;
    left: 280px;
    border-radius: 5px;
    display: none;
}
.notification5{
    background-color: whitesmoke;
    position: absolute;
    width: 350px;
    padding: 30px;
    height: 400px;
    top: 180px;
    left: 210px;
    border-radius: 5px;
    display: block;
}
.login{
    position: relative;
}
.notification4 p{
  margin-left: 80px;
  margin-bottom: 50px;
}
.notification4 .close{
    margin-left: 50px;
    margin-top: 30px;
    display: inline-block;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.notification4 .fa-check{
   border: 1px solid green;
   font-size: 100px;
   padding: 15px 20px 15px 20px;
   border-radius: 100%;
   color: green;
   
}
.notification4 .sucess{
    margin-left: 60px;
}
.pro{
    background-color:rgba(0, 0, 0, 0.432);
    width: 500px;
    margin-left: 150px;
    padding-bottom: 30px;
    border-radius: 10px;
}