.recomends{
    margin-top: 30px !important;
    border-top: 2px solid black;
    padding-top: 30px;
}
.recomends span{
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.recomendImage{
    margin-top: 20px;
    transition: 1s;
}
.recomendCol .recomendImage:hover{
 width: 200px;
 height: 100px;
}
.recomendsCard{
    width: 12rem;
    height: 12rem;
}