.form-control{
    width: 500px;
    border: 1px solid black;
}
.measure{
    margin-top: 20px;
}
.commends{
    margin-left: 200px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
}
.combine{
 margin-left: 220px;
}

.addReceipe{
    /* background-image: url("./assets/food-with-ingredients.jpg");
   background-size: cover;    
   background-position: center; */
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("./assets/max-komthongvijit-_RwtD1MrUrw-unsplash.jpg") center/cover no-repeat;

}
.col-form-label{
    margin-left: 220px;
}
.addTextArea{
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.addReceipeButton{
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    margin: 100px 0px 0px 100px;
    height: 50px;
    background-color: chocolate;
}
.bottom{
    display: flex;
}
hr{
    color: white;
    height: 30px;
}
.containerAdd{
    padding-bottom: 30px;
}
.IngrediantsButton{
    background-color: chocolate;
    padding: 3px 10px 5px 10px;
    font-size: 15px;   
    margin-left: 110px;
    border-radius: 5px;
    
}
.IngrediantsButton1{
    background-color: chocolate;
    padding: 3px 10px 5px 10px;
    font-size: 15px;   
    margin-left: 83px;
    border-radius: 5px;
}
.containerAdd input{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}
.containerAdd label{
    color: whitesmoke;
    font-size: 20px;
}


.title h4{
    color: whitesmoke;
}
.ingrediants{
    margin:20px 0px 0px 220px;
    width: 500px;
    height: 40px;
}