*{
  margin: 0px;
  padding: 0px;
}
body{
  letter-spacing: 0.6px;
}
.header{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("./assets/header_image.jpg") center/cover no-repeat;
  width: 100%;
  height: 100vh;
}
.header-content{
  text-align: center;
}
.heading{
  color: white !important;
  margin-top: 150px;
  margin-left: 200px;
}

.text{
  color: white !important;
  margin-top: 20px !important;
  margin-left: 200px !important;
}
.start{
  color: white;
  margin-top: 60px;
  background-color: chocolate;
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 40px;
  margin-left: 700px;
}
.main{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("./assets/pexels-daniel-reche-1556688.jpg") center/cover no-repeat;
  height: 65vh;
  filter: blur(20px);
  -webkit-filter: blur(0px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.searchInput{
  height: 50px;
  width: 300px;
  margin-left: 40%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 50px;
  border: 1px solid white;
  opacity: 1;
  text-align: center;
  position: relative;
  color: white;
}
.fa-magnifying-glass{
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 100%;
  color: white;
  opacity: 1;

}
.navText{
  margin-left: 35%;
  margin-top: 30px;
  color: white;
  opacity: 1;

}
.homeText{
  margin-left: 90px;
  margin-top: 20px;
  opacity: 1;
  letter-spacing:2px;
  font-size: 20px;
}
.homeHeading{
  letter-spacing:2px;

}
.col-3{
  margin-top: 30px !important;
}

.navbar-nav li .home{
  margin-left: 900px;
}
.navbar-nav li{
  margin-left: 50px;
}


.source{
  margin-top: 10px;
}
.detailsHead{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.navBar ul{
  display: flex;}
.navBarCol{
  display: flex;
  list-style-type: none;
  margin-left: 800px;
}
.navBarCol li{
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  color:white;
  letter-spacing: 2px;
}
.navBarCol li:hover{
 border: 1px solid white;  
}
.navBar{
  height: 100px;
  padding-top: 30px;
}
.logo{
  margin-top: 0PX;
  margin-left: 50px;
  list-style-type: none;
  color: white;
}
.mealCardTitle{
  color:white !important;
  text-align: left;
  font-size: 13px;
  font-weight: bolder;
  padding: 0px 5px 0px 5px;
  text-transform: uppercase;
  background-color: chocolate !important;
  position: absolute;
  top:0px;
  right:0px
}
.mealCard{
  position: relative;
  height: 24vh !important;
  border: none !important;
}
.categoryCol{
  margin-top: 20px !important;
}
.card-img-top{
  width: 30vh;
  height: 20vh;
}
.homeCategory{
  margin-top: 30px;
  letter-spacing: 1.5px;
  border-bottom: 4px solid chocolate;
  width: 70px;
}
.homeContainer{
background-color: #f5f5f5;
padding: 5px 10px;
}
.mealCard img{
  transition: height 2s;

}
.mealCard:hover img{
  width: 300px;
  height: 300px;
}
.mealCard{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fa-magnifying-glass:hover{
  background-color: rgba(0, 0, 0, 0.135);
  border: 1px solid white;

}
.suggestion{
  position: absolute;
  top: 210px;
  padding: 20px;
  left: 540px;
  color: chocolate;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.966);
  
}
.suggestion ul{
  list-style-type: none !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;

}
.blockLevel{
  display: block;
}
.hideLevel{
  display: none;
}
.title{
  letter-spacing: 4px;
}
.main{
  position: fixed;
  width: 100%;
  z-index: 1;
}
.homeContainer{
  position:relative;
  top: 480px;
  left: 00px;
}
.navUser{
  font-size: 20px;
}