.fa-house{
    margin-right: 10px;
    color: white;
}
.fa-chevron-right{
    color: white;
}
.pageCategory{
    color: white;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}
.cetegoryContainer{
  background-color: whitesmoke;
}
.detailsHead{
    margin: 40px 0px 40px 0px;
    border-bottom: 4px solid chocolate;
    width: 170px;

}
.card-img-top1{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
}
.fa-bookmark1{
    position: absolute;
    left: 460px;
    top: 210px;
    background-color: black;
    padding: 10px;
    border-radius: 100%;
    color: white;
}
.detailList1 ul{
    list-style-type: none;
}
.detailList2 ul{
    list-style-type: none;
}
.instruct ul{
    list-style-type: none;
}