.mainRegister{
    margin: 00px;
    height: 100vh;
    background-image: url("./assets/wallpaperflare.com_wallpaper\ \(2\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.registerDetails{
    width: 800px;
}
.registerDetails input{
    width: 340px;
    height: 47px;
    border-radius: 10px;
    margin: 20px 10px 0px 20px;
}
.register{
    padding: 70px 0px 0px 150px;
}
.registerButton{
}
.registerDetails span{
    margin-left: 5px;
    color: rgb(163, 92, 42) !important;
}
.register .page{
    margin-left: 250px;
}
.register .page p{
margin-left: 130px;    
}

.registerButton1,.registerButton{
    border: 1px solid white;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;

}
.registerButton1{
    padding: 10px;
}
.registerButton{
    padding: 10px;
}
.registerButton1:hover{
    background-color: black;
    color: white;
    border: none;
}
.registerButton:hover{
    background-color: black;
    color: white;
    border: none;
}
.registerUl{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    list-style-type: none;
}