.containerupdate{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("./assets/max-komthongvijit-_RwtD1MrUrw-unsplash.jpg") center/cover no-repeat;
   margin-top: 30px;
   padding-bottom: 30px;
}
.ReceipeCard{
    margin-top: 30px;

  text-transform: uppercase;
}
.update label{
  color: white;
}
.update input{
  background-color: rgba(0, 0, 0, 0.178);
  color: white;
}