.containerYourList{
 background-color: whitesmoke;
 margin-top: 40px;
 padding-bottom: 30px;
}

.categoryEdit{
    padding: 7px 10px 7px 10px;
}
.fa-trash-can{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    display: none;
}
.yourListUl{
    display: flex;
    list-style-type: none;
    justify-content: start;
}
.yourListEdit{
  margin-left: 70px;
}
.fa-pen-to-square{
    font-size: 25px;
    margin-bottom: 10px;
}
.yourListCard:hover .fa-trash-can{
 display: block;
}