.form-control{
    width: 500px;
    border: 1px solid black;
}
.measure{
    margin-top: 20px;
}
.commends{
    margin-left: 200px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}
.combine{
 margin-left: 220px;
}

.addReceipe{
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../assets/max-komthongvijit-_RwtD1MrUrw-unsplash.jpg") center/cover no-repeat;
}
.col-form-label{
    margin-left: 220px;
}
.addTextArea{
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.addReceipeButton{
    border: none;
    font-size: 20px;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    margin: 100px 0px 0px 100px;
    height: 50px;
    background-color: chocolate;
}
.bottom{
    display: flex;
}
hr{
    height: 30px;
}
.containerAdd{
    padding-bottom: 30px;
    background-color: whitesmoke;
}
.IngrediantsButton{
    background-color: chocolate;
    padding: 3px 10px 5px 10px;
    font-size: 15px;   
    margin-left: 110px;
    border-radius: 5px;
    
}
.IngrediantsButton1{
    background-color: chocolate;
    padding: 3px 10px 5px 10px;
    font-size: 15px;   
    margin-left: 83px;
    border-radius: 5px;
}

.containerAdd label{
    font-size: 20px;
}



.ingrediants{
    margin:20px 0px 0px 220px;
    width: 500px;
    height: 40px;
}
.notification2 .itemNoti{
    margin-left: 50px;
}
.notification2{
    background-color:black;
    position: absolute;
    width: 350px;
    padding: 30px;
    height: 400px;
    top: 300px;
    left: 600px;
    border-radius: 5px;
    display: none;
}
.notification3{
    display: block;
    background-color:black;
    position: absolute;
    width: 350px;
    padding: 30px;
    height: 400px;
    top: 600px;
    left: 600px;
    border-radius: 5px;

}

.notification2 p{
    margin-left: 80px;
    margin-bottom: 30px;
    color: white;
  }
  .notification2 .close{
      margin-left: 80px;
      background-color: green;
      padding: 10px;
      border-radius: 10px;
      color: white;
  }
  .notification2 .fa-check{
     border: 1px solid green;
     font-size: 100px;
     padding: 15px 20px 15px 20px;
     border-radius: 100%;
     color: green;
     margin-top: 30px;     
     margin-bottom: 30px;     
  }
  .notification2 .sucess{
      margin-left: 100px;
  }
  select{
    width: 200px;
  }
  .fa-plus,.fa-xmark{
    background-color: black;
    color: chocolate;
    padding: 7px;
    margin-top: 5px;
    border-radius: 100%;
  }
  .fa-xmark{
    margin-left: 10px;
    margin-right: 10px;
  }